body {
    background-color: lightgray;
}

.custom-panel {
    margin: 15px;
}

.inline-block {
    display: inline-block;
}

.imgTopAlign {
    vertical-align: top;
}

.top {
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
}