body {
    background-color: lightgray;
}

.custom-panel {
    margin: 15px;
}

.inline-block {
    display: inline-block;
}

.imgTopAlign {
    vertical-align: top;
}

.topMargin {
    margin-top: 20px;
}